@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Roman.woff") format("woff"), url("../fonts/HelveticaNeue-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Thin.woff") format("woff"), url("../fonts/HelveticaNeue-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "LucidaGrande";
  font-display: swap;
  src: url("../fonts/LucidaGrande.woff") format("woff"), url("../fonts/LucidaGrande.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFCompactText";
  font-display: swap;
  src: url("../fonts/SFCompactText-Semibold.woff") format("woff"), url("../fonts/SFCompactText-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "MyriadPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "MyriadPro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 936px;
  margin: 0 auto;
  width: 100%;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.form__error {
  color: red;
  position: absolute;
  bottom: -20px;
  left: 5px;
}

.err {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  text-align: center;
}

.title__icon {
  margin: 0px 0px 31px 0px;
}

.title__caption {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}

.title__title {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #3cd072;
}

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.footer {
  padding: 48px 0px 48px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__author {
  font-size: 16px;
  line-height: 24px;
  color: #909090;
}

.first-screen {
  background-color: #3cd072;
  padding: 61px 0px 84px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.first-screen__logo {
  font-family: "SFCompactText";
  font-size: 35.4px;
  line-height: 22px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 2;
}

.first-screen__row {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 105px 0px 0px 0px;
}

.first-screen__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.first-screen__title {
  font-size: 32px;
  line-height: 32px;
  color: #fff;
  background: url("../img/first-screen/search_icon.png") 0 0 no-repeat;
  padding: 0px 0px 0px 82px;
  margin: 0px 0px 35px 0px;
}

.first-screen__title span {
  font-weight: 600;
  display: block;
}

.first-screen__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0px 0px 16px 0px;
}

.first-screen__link {
  font-family: "LucidaGrande";
  font-size: 10.4px;
  color: #fff;
  background: #0d0d0d url("../img/first-screen/apple_logo.png") 36px center no-repeat;
  padding: 10px 45px 5px 81px;
  display: inline-block;
  border-radius: 5px;
  background-color: #000;
  max-width: 216px;
  height: 48px;
  margin: 0px 5px 57px 0px;
}

.first-screen__link span {
  font-size: 18.9px;
  display: block;
}

.first-screen__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-screen__image img {
  position: absolute;
  bottom: -30%;
  right: 27%;
}

.first-screen__image_w {
  -webkit-transform: translate(48%, 7.7%);
      -ms-transform: translate(48%, 7.7%);
          transform: translate(48%, 7.7%);
}

.first-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.first-screen-form {
  font-size: 16px;
  color: #ffffff;
}

.first-screen-form__body {
  margin: 12px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-screen-form__input {
  border: 2px solid #ffffff;
  background: transparent;
  font-size: 16px;
  line-height: 44px;
  color: #ffffff;
  padding: 0px 0px 0px 11px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62.6%;
          flex: 0 0 62.6%;
}

.first-screen-form__btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #3cd072;
  border-radius: 5px;
  padding: 0px 0px;
  margin: 0px 0px 0px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 136px;
          flex: 0 0 136px;
}

.first-screen-form__btn:hover {
  text-decoration: underline;
}

.second-screen {
  background-color: #f0f0f0;
}

.second-screen__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-screen__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  position: relative;
  z-index: 1;
}

.second-screen__image_block {
  position: relative;
}

.second-screen__image_block img {
  max-width: 100%;
}

.second-screen__image_w {
  position: absolute;
  top: calc(0% + 170px);
  left: calc(0% - 100px);
}

.second-screen__image_b {
  position: absolute;
  top: calc(0% - 40px);
  left: calc(0% + 65px);
}

.second-screen__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 144px 0px 91px 0px;
}

.second-screen__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #3cd072;
  height: 56px;
  padding: 0px 0px 0px 81px;
  margin: 0px 0px 15px 0px;
  background: url("../img/second-screen/share_icon.png") 0 0 no-repeat;
}

.second-screen__title_lc {
  background: url("../img/second-screen/gps_icon.png") 0 0 no-repeat;
}

.second-screen__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0px 0px 50px 0px;
}

.second-screen__text:last-child {
  margin: 0;
}

.easy {
  padding: 48px 0px 0px 0px;
}

.easy__title {
  margin: 0px 0px 44px 0px;
}

.easy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.easy__column {
  padding: 0px 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 296px;
  margin: 0px auto;
}

.easy__icon {
  margin: 0px 0px 31px 0px;
}

.easy__caption {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 0px 0px 51px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.easy__image {
  position: relative;
  height: 360px;
  width: 100%;
  background-position: 50% 0;
}

.easy__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.easy-slider {
  background-color: #000;
  padding: 79px 0px 99px 0px;
}

.easy-slider__head {
  text-align: center;
}

.easy-slider__caption {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
}

.easy-slider__title {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #3cd072;
  margin: 0px 0px 52px 0px;
}

.easy-slider__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.easy-slider__item {
  margin: 0px 2.5px;
}

.running {
  position: relative;
  background-color: #3cd072;
  padding: 72px 0px 0px 0px;
}

.running__container {
  position: relative;
  z-index: 2;
}

.running__head {
  max-width: 460px;
  margin: 0px 0px 35px 0px;
}

.running__title {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  height: 72px;
  padding: 0px 0px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
  background: url("../img/running/icon_1.png") 0 0 no-repeat;
}

.running__subtitle {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
}

.running__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.running__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin: 0px 50px 40px 0px;
}

.running__item {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
  height: 56px;
  padding: 0px 0px 0px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 16px 0px;
  background: url("../img/running/icon_2.png") 0 0 no-repeat;
}

.running__item:last-child {
  margin: 0px 0px 0px 0px;
}

.running__image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.running__image_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: -50px;
  right: 0;
}

.running__image_body img {
  max-width: 95%;
}

.running__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.signup {
  padding: 55px 0px 48px 0px;
  position: relative;
  z-index: 3;
  background-color: #000;
}

.signup_g {
  background-color: #f0f0f0;
}

.signup__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__form .err {
  display: block;
}

.signup__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
  color: #3cd072;
}

.signup__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 25px 0px 0px;
  border: 2px solid #3cd072;
  font-size: 16px;
  line-height: 48px;
  font-weight: 400;
  color: #3cd072;
  padding: 0px 0px 0px 15px;
}

.signup__btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 0px 75px;
  color: #fff;
  background-color: #3cd072;
  border-radius: 5px;
}

.signup__btn:hover {
  text-decoration: underline;
}

.signup__btn_g {
  color: #3cd072;
  background-color: #000000;
  border-radius: 5px;
}

.gifts {
  padding: 72px 0px 142px 0px;
}

.gifts__textarea {
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  max-width: 650px;
  margin: 43px auto 59px auto;
}

.gifts__lead-slider {
  text-align: center;
  position: relative;
}

.gifts__leade-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: matrix3d(0.7546, 0.17, 0.64, 0, -0.17, 0.6958, -0.71, 0, -0.64, 0.71, 0.5467, 0, -80, 10, 0, 1);
          transform: matrix3d(0.7546, 0.17, 0.64, 0, -0.17, 0.6958, -0.71, 0, -0.64, 0.71, 0.5467, 0, -80, 10, 0, 1);
}

.gifts__slider {
  position: relative;
}

.gifts__lead-slider {
  position: relative;
  max-width: 407px;
  margin: 0px auto;
  z-index: 6;
}

.gifts__leade-item .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifts__leade-item .slick-arrow {
  position: absolute;
}

.gifts__sub-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(50% - 76px);
  left: 0;
  z-index: 7;
}

.gifts__sub-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gifts__sub-slider .slick-current {
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gifts__sub-slider .slick-active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.gifts__button {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0px 0px 0px;
}

.gifts__btn {
  margin: 0px auto;
  display: inline-block;
  background-color: #000000;
  font-size: 16px;
  line-height: 48px;
  font-weight: 600;
  color: #3cd072;
  border-radius: 5px;
  padding: 0px 42px;
}

.gifts__btn:hover {
  text-decoration: underline;
}

.active-users {
  margin: 0px 0px 95px 0px;
}

.active-users__body p {
  font-family: MyriadPro;
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: #3cd072;
}

.active-users__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #aeaeae;
  padding: 25px 0 25px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.active-users__row:last-child {
  border-bottom: 1px solid #aeaeae;
}

.active-users__photo {
  border-radius: 50%;
  max-height: 95px;
  max-width: 95px;
  overflow: hidden;
}

.active-users__photo-link img {
  display: block;
  border-radius: 50%;
  height: 95px;
  width: 95px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -o-object-fit: cover;
     object-fit: cover;
}

.active-users__photo-link img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.active-users__icon {
  border-radius: 50%;
  max-height: 95px;
  max-width: 95px;
  overflow: hidden;
}

.active-users__icon-link img {
  display: block;
  border-radius: 50%;
  max-height: 95px;
  max-width: 95px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.active-users__icon-link img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.active-users__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.info__name {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #3cd072;
}

.info__name:hover {
  text-decoration: underline;
}

.info__country {
  font-family: HelveticaNeue;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #000000;
  display: block;
}

.info__country:hover {
  text-decoration: underline;
}

.info__raiting {
  display: inline-block;
}

.info__raiting-reviews {
  display: inline-block;
  font-family: HelveticaNeue;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #b3b3b3;
}

.simple-raiting__info {
  position: relative;
  font-size: 40px;
  display: inline-block;
}

.simple-raiting__info::before {
  content: "★★★★★";
  display: block;
}

.simple-raiting__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden;
}

.simple-raiting__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-raiting__item:checked,
.simple-raiting__item:checked ~ .simple-raiting__label {
  color: #3cd072;
}

.simple-raiting__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #adadad;
}

.simple-raiting__label::before {
  content: "★";
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.simple-raiting__label:hover,
.simple-raiting__label:hover ~ .simple-raiting__label,
.simple-raiting__label:checked ~ .simple-raiting__label:hover {
  color: #3cd072;
}

.counter__active-users {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.counter__title {
  font-family: HelveticaNeue;
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #000000;
}

.counter__value {
  font-family: HelveticaNeue;
  font-size: 68px;
  line-height: 48px;
  font-weight: 100;
  color: #000000;
  padding: 0px 0px 0px 65px;
  background: url("../img/active-users/03.png") 0 0 no-repeat;
}

.raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
}

.raiting__body {
  position: relative;
}

.raiting__body::before {
  content: "★★★★★";
  display: block;
}

.raiting__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.raiting__active::before {
  content: "";
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #3cd072;
}

.raiting__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.raiting__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.raiting__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.contact-us {
  padding: 95px 0px 72px 0px;
  height: 100%;
  position: relative;
  z-index: 2;
  background-color: #3cd072;
}

.contact-us__container {
  position: relative;
  z-index: 3;
}

.contact-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -52px;
}

.contact-us__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 52px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact-us__title {
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  margin: 0px 0px 17px 0px;
}

.contact-us__socials a {
  font-family: MyriadPro;
  font-size: 24px;
  line-height: 48px;
  font-weight: 600;
  color: #ffffff;
}

.contact-us__socials a li {
  margin: 0px 0px 32px 0px;
  padding: 0px 0px 0px 68px;
}

.contact-us__socials a:last-child li {
  margin: 0px 0px 0px 0px;
}

.contact-us__facebook {
  background: url("../img/contact-us/fb.png") 0 center no-repeat;
}

.contact-us__twitter {
  background: url("../img/contact-us/tw.png") 0 center no-repeat;
}

.contact-us__vkontakte {
  background: url("../img/contact-us/vk.png") 0 center no-repeat;
}

.contact-us__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.1;
}

.form-contact-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-contact-us__name {
  font-size: 16px;
  line-height: 48px;
  color: #3cd072;
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 16px;
}

.form-contact-us__email {
  font-size: 16px;
  line-height: 48px;
  color: #3cd072;
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 0px 16px;
}

.form-contact-us__textarea {
  font-size: 16px;
  line-height: 48px;
  color: #3cd072;
  padding: 0px 0px 0px 16px;
  margin: 0px 0px 24px 0px;
  height: 192px;
  resize: none;
}

.form-contact-us__btn {
  font-size: 16px;
  line-height: 48px;
  font-weight: 600;
  color: #ffffff;
  background-color: #000;
  border-radius: 5px;
  max-width: 216px;
}

.form-contact-us__btn:hover {
  text-decoration: underline;
}

@media (max-width: 956px) {
  ._container {
    padding: 0px 30px 0px 15px;
  }
}

@media (max-width: 948px) {
  .active-users__photo {
    max-height: 75px;
    max-width: 75px;
  }

  .active-users__photo-link img {
    max-height: 75px;
    max-width: 75px;
  }

  .active-users__icon {
    max-height: 75px;
    max-width: 75px;
  }

  .active-users__icon-link img {
    max-height: 75px;
    max-width: 75px;
  }

  .info__name {
    font-size: 24px;
  }

  .info__country {
    font-size: 16px;
    line-height: 16px;
  }

  .simple-raiting__info {
    font-size: 25px;
  }

  .counter__active-users {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }

  .counter__title {
    font-size: 18px;
  }

  .counter__value {
    font-size: 32px;
    background: url("../img/active-users/03.png") 0 5px/10% no-repeat;
    line-height: 32px;
    height: 30px;
    padding: 0px 0px 0px 35px;
  }

  .contact-us__row {
    margin: 0px -24px;
  }

  .contact-us__column {
    padding: 0px 24px;
  }
}

@media (max-width: 870px) {
  .second-screen__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 55%;
            flex: 1 1 55%;
  }

  .second-screen__image_block img {
    max-width: 70%;
  }

  .second-screen__image_w {
    top: calc(0% + 170px);
    left: calc(0% - 50px);
  }

  .gifts__sub-slider {
    display: none;
  }
}

@media (max-width: 850px) {
  .first-screen__image img {
    max-width: 60%;
  }
}

@media (max-width: 810px) {
  .first-screen__title {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .footer {
    padding: 24px 0;
  }

  .footer__row {
    display: block;
    text-align: center;
  }

  .footer__logo {
    margin: 0px 0px 20px 0px;
  }

  .first-screen {
    padding: 20px 0px 30px 0px;
  }

  .first-screen__row {
    margin: 30px 0px 0px 0px;
  }

  .first-screen__title {
    padding: 0px 0px 0px 62px;
    margin: 0px 0px 20px 0px;
  }

  .first-screen__link {
    margin: 0px 5px 30px 0px;
  }

  .first-screen__image {
    display: none;
  }

  .second-screen__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .second-screen__image_block img {
    max-width: 100%;
  }

  .second-screen__image_w {
    -webkit-transform: rotate(31deg);
        -ms-transform: rotate(31deg);
            transform: rotate(31deg);
    top: 0;
    left: -70px;
  }

  .second-screen__image_b {
    top: 50px;
    left: 10px;
    -webkit-transform: rotate(31deg);
        -ms-transform: rotate(31deg);
            transform: rotate(31deg);
  }

  .second-screen__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 30px 0px 20px 0px;
  }

  .easy__title {
    margin: 0px 0px 30px 0px;
  }

  .easy__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px auto 30px auto;
  }

  .easy__column:last-child {
    margin: 0px auto 0px auto;
  }

  .easy__icon {
    margin: 0px 0px 10px 0px;
  }

  .easy__caption {
    margin: 0px 0px 10px 0px;
  }

  .easy-slider {
    padding: 20px 0px 30px 0px;
  }

  .running {
    padding: 30px 0px 0px 0px;
  }

  .running__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .running__image {
    opacity: 0.1;
    margin: 0px 0px 0px -100%;
    z-index: 1;
  }

  .gifts {
    padding: 40px 0px 35px 0px;
  }

  .gifts__textarea {
    margin: 10px auto 30px auto;
  }

  .active-users__body p {
    font-size: 23px;
  }

  .active-users__icon {
    padding: 0px 15px 0px 0;
  }

  .info__raiting-reviews {
    min-width: 120px;
  }

  .counter__active-users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0px 0px 0px;
  }

  .contact-us {
    padding: 35px 0px 20px 0px;
  }

  .contact-us__row {
    display: block;
  }

  .contact-us__column {
    margin: 0px 0px 35px 0px;
  }

  .contact-us__column:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 666px) {
  .active-users__row {
    display: block;
    text-align: center;
  }

  .active-users__photo {
    display: inline-block;
  }

  .active-users__icon {
    display: inline-block;
  }

  .active-users__info {
    display: inline-block;
    padding: 0px 0px 0px 15px;
  }

  .counter__title {
    display: inline-block;
  }

  .counter__value {
    display: inline-block;
    background: url("../img/active-users/03.png") 0 0/20% no-repeat;
  }
}

@media (max-width: 630px) {
  .second-screen__image {
    display: none;
  }

  .second-screen__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 440px) {
  .first-screen-form__body {
    display: block;
  }

  .first-screen-form__input {
    display: block;
    width: 100%;
  }

  .first-screen-form__btn {
    display: block;
    width: 100%;
    height: 48px;
    margin: 10px 0px 0px 0px;
  }

  .signup__form {
    display: block;
  }

  .signup__input {
    display: block;
    width: 100%;
  }

  .signup__btn {
    display: block;
    width: 100%;
    height: 52px;
    margin: 10px 0px 0px 0px;
  }

  .gifts__leade-item {
    display: none;
  }

  .gifts__slider {
    max-height: 270px;
  }

  .gifts__lead-slider {
    -webkit-transform: scale(0.6) translate(0px, -150px);
        -ms-transform: scale(0.6) translate(0px, -150px);
            transform: scale(0.6) translate(0px, -150px);
  }
}

@media (max-width: 418px) {
  .active-users__photo {
    margin: 0px 0px 20px 0px;
  }

  .active-users__icon {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 350px) {
  .gifts__lead-slider {
    -webkit-transform: scale(0.6) translate(-50px, -150px);
        -ms-transform: scale(0.6) translate(-50px, -150px);
            transform: scale(0.6) translate(-50px, -150px);
  }
}

.webp .first-screen__title{ background: url(../img/first-screen/search_icon.webp) 0 0 no-repeat; }

.webp .first-screen__link{ background: #0d0d0d url(../img/first-screen/apple_logo.webp) 36px center no-repeat; }

.webp .second-screen__title{ background: url(../img/second-screen/share_icon.webp) 0 0 no-repeat; }

.webp .second-screen__title_lc{ background: url(../img/second-screen/gps_icon.webp) 0 0 no-repeat; }

.webp .running__title{ background: url(../img/running/icon_1.webp) 0 0 no-repeat; }

.webp .running__item{ background: url(../img/running/icon_2.webp) 0 0 no-repeat; }

.webp .counter__value{ background: url(../img/active-users/03.webp) 0 0 no-repeat; }

.webp .contact-us__facebook{ background: url(../img/contact-us/fb.webp) 0 center no-repeat; }

.webp .contact-us__twitter{ background: url(../img/contact-us/tw.webp) 0 center no-repeat; }

.webp .contact-us__vkontakte{ background: url(../img/contact-us/vk.webp) 0 center no-repeat; }

@media (max-width: 948px){

  .webp .counter__value{ background: url(../img/active-users/03.webp) 0 5px/10% no-repeat; }
}

@media (max-width: 666px){

  .webp .counter__value{ background: url(../img/active-users/03.webp) 0 0/20% no-repeat; }
}